<div class="dash">
  <header>
    <h2>Panel Sanivac</h2>
    <p class="muted">Resumen rápido del establecimiento</p>
  </header>

  <section class="cards">
    <a class="card" routerLink="/usuarios">
      <div class="title">Usuarios</div>
      <div class="num">128</div>
    </a>

    <a class="card olive" routerLink="/vacunas">
      <div class="title">Vacunas aplicadas</div>
      <div class="num">542</div>
    </a>

    <a class="card" routerLink="/inventario">
      <div class="title">Stock</div>
      <div class="num">320</div>
    </a>

    <a class="card" routerLink="/alarmas">
      <div class="title">Alarmas</div>
      <div class="num">3</div>
    </a>
  </section>
</div>

